form{
	color:#005151;
	width:40%;
	background-color:white;
	padding: 50px;
	border-radius: 20px;
	border:2px solid #005151;
	margin-top:15px
}
.btn-primary{
	width:100%;
	border: none;
	border-radius: 50px;
	margin-top:20px;
	background-color: #005151;
	color:#E98757;
	border:2px solid #E98757;
}
.form-control{
		border-bottom-color: #005151;
		box-shadow: none !important;
		border: none;
		border-bottom: 1px solid;
		border-radius: 4px 4px 0 0;
		font-display:#005151;
		}
 h4{
		font-size: 2rem !important;
		font-weight: 700;
	 	color:#005151;
 }  
 .form-label{
		font-weight: 800 !important;
 }